<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link href="components/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="components/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="components/flat-ui/dist/js/vendor/jquery.min.js"></script>
  <script src="components/flat-ui/dist/js/vendor/video.js"></script>
  <script src="components/flat-ui/dist/js/flat-ui.min.js"></script>
  <script src="docs/assets/js/application.js"></script>
</head>
  <body>


  {{{body}}}


  </body>
</html>