<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link href="components/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="components/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="components/flat-ui/dist/js/vendor/jquery.min.js"></script>
  <script src="components/flat-ui/dist/js/vendor/video.js"></script>
  <script src="components/flat-ui/dist/js/flat-ui.min.js"></script>
  <script src="js/handlebars-v2.0.0.js"></script>
  <script src="js/relate.js"></script>
</head>
  <body>


  {{{body}}}


  </body>

  <!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
window.__insp = window.__insp || [];
__insp.push(['wid', 1690393653]);
(function() {
function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
if (window.attachEvent){
window.attachEvent('onload', __ldinsp);
}else{
window.addEventListener('load', __ldinsp, false);
}
})();
</script>
<!-- End Inspectlet Embed Code -->
</html>