    <div class="jumbotron">
      <center>
        <h1>Bifocals</h1>
        <h6>Get relevant contextual information on any article - all in a convenient sidebar.</h6>
        <p><a class="btn btn-primary btn-lg" href="/yves" role="button">Test the demo!</a></p>
        <p>Made by Knight Lab Student Fellows Shikhar Mohan & Nikhil Pai</p>
    </div>
    <div class="container-fluid">
    <center>
        <div class="col-xs-4">
              <div class="tile">
                <img src="http://designmodo.github.io/Flat-UI/img/icons/svg/retina.svg" alt="Compas" class="tile-image big-illustration">
                <h3 class="tile-title">Understand more</h3>
                <p>You'll never have to leave the article to look something up.</p>
              </div>
        </div>
        <div class="col-xs-4">
              <div class="tile">
                <img src="http://designmodo.github.io/Flat-UI/img/icons/svg/map.svg" alt="Compas" class="tile-image big-illustration">
                <h3 class="tile-title">Stay on track</h3>
                <p>You won't lose focus while your reading.</p>
              </div>
        </div>
        <div class="col-xs-4">
              <div class="tile">
                <img src="http://designmodo.github.io/Flat-UI/img/icons/svg/book.svg" alt="Compas" class="tile-image big-illustration">
                <h3 class="tile-title">Pick up where you left off</h3>
                <p>The context sidebar lets you catch up and resume your reading.</p>
              </div>
      </div>
    </div>