<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Relate.js</h1>
      <h6>Read better</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="tile">
        <h3 class="tile-title">Context</h3>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>