.context{
  border-bottom: 1px dotted #34495E;
  display: inline;
}

.context-sidebar{
  -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
  transition: right 1s;
  height: 100%;
  width: 350px;
  position: fixed;
  right: -340px;
  background-color: #aaaaaa;
  z-index: 100;
}

.context-peak{
  -webkit-transition: right 500ms; /* For Safari 3.1 to 6.0 */
  transition: right 500ms;
  right: -250px;
}

.context-show{
  -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
  transition: right 1s;
  right: 0;
}

.context-container{
  background-color: #eeeeee;
  margin-left: 10px;
  height: 100%;
  position: absolute;
  display: block;
  padding: 10px;
  z-index: 200;
  overflow: scroll;

  h3{
      margin-top: 15px;
  }

  .widget{
    border-bottom: 1px #34495E solid;
    
  }
}

.context-side-clicker{
  width: 10px;
  height: 100%;
  z-index: 150;
  color: transparent;
  position: fixed;
}

.logo{
  width: 15%;
}

